* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background: white;
    font-size: 62.5%;
}

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans&family=Parisienne&display=swap");

body {
    /* margin: 0 auto; */
}
